/* Heading styles */
div h1{
    color: orange;
    margin: 0;
}
/* Shop container styles */
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
/* Products container styles */
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 10px;
    margin-left: 40px;
}
/* Cart container styless */
.cart-container{
    height: 400px;
    width: 100%;
    background-color: rgb(248, 201, 139);
    border-radius: 15px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* order container styles */
.order-container button{
    background-color: rgb(240, 156, 2);
    border: none;
    display: flex;
    margin: 8px;
    width: 100%;
    font-weight: 600;
}
/*Media quary Responsive for small devices*/
@media screen and (max-width:668) {
    .products-container{
        grid-template:1fr;
    }
}
/*Media quary Responsive for large devices*/
/* Large devices */
@media screen and (min-width:992) {
    .products-container{
        grid-template-columns:repeat(3,1fr);
    }
}
@media screen and (max-width:678) {
    .products-container{
        grid-template-columns:1fr;
    }
}