/* Heading styles */
div h1{
    color: orange;
    margin: 0;
}
/* Shop container styles */
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
/* Products container styles */
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 10px;
}
/* Cart container styless */
.cart-container{
    background-color: bisque;
    margin-top: 10px;
}