.product{
    height: 450px;
    width: 300px;
    background-color:gainsboro;
    position: relative;
    border-radius: 15px;
}
.product-details h3,p{
    margin: 5px;
    display: flex; 
    align-items: flex-start;
    margin-left: 20px;
}
/*  image styles */
.product img{
    height: 286px;
    width: 286px;
    border-radius:15px;
}
.product-btn{
    background-color:rgb(252, 204, 114);
    border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.product-btn:hover{
    background-color: orange;
}
.product-btn p{
    align-items: center;
}